<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: main-header('Create Post')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<!--create post-->
<div class="container">
    <div class="row">
        <form th:action="@{/posts/create}" method="post" th:object="${post}"><br/>
            <div class="col-8">Title:</div>
            <div class="col"><input name="title" th:field="*{title}"/>
            </div>
            <br />
            <div class="col-8">
                Description:
            </div>
            <div class="col">
                <input name="body" th:field="*{body}"/>
            </div>
            <br />
            <div class="col">
                <input type="submit" />
            </div>
        </form>
    </div>
</div>
<br/>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
