<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: main-header('Edit posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div>
    <h1 th:text="${post.title}"></h1>
    <p th:text="${post.body}"></p>
</div>
<form th:action="${'/posts/' + post.id + '/edit'}" method="post" th:object="${post}"><br/>
    <div class="col-8">Title:</div>
    <div class="col"><input name="title" th:field="*{title}"/>
    </div>
    <br />
    <div class="col-8">
        Description:
    </div>
    <div class="col">
        <input name="body" th:field="*{body}"/>
    </div>
    <br />
    <div class="col">
        <input type="submit" />
    </div>
</form>

</body>
</html>