<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>

<nav id="my-nav" class="navbar" th:fragment="mainNavbar">
    <ul>
        <li>Index</li>
        <li>Login</li>
        <li>Register</li>
        <li sec:authorize="isAuthenticated()"> <form th:action="@{/logout}" th:method="post">
            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
        </form></li>
    </ul>
</nav>

<p>You should not see this</p>

</body>
</html>